# Day 4 of 100
Lists in python

Lists are similar to array, are iterable and has index value for all numbers.
have [] operator.

q. keep adding numbers to string and fill variable second_name in the name list using [].

In [6]:
num =[1,2,3]
string= ['a', 'b', 'c']
names =["Ayushi", "aditi", "alisha"]
second_name = ["george", "edwin", "masih"]
print(num)
print(string)
print("the second name on the name list is %s" %second_name)

[1, 2, 3]
['a', 'b', 'c']
the second name on the name list is ['george', 'edwin', 'masih']

method one .append to add elements

In [15]:
name =["Ayushi", "aditi", "alisha"]
#name =[]
name.append("anglyn")
print(name)

['Ayushi', 'aditi', 'alisha', 'anglyn']

In [16]:
#to print its length 
names =["Ayushi", "aditi", "alisha"]
print(len(name))

4

In [17]:
#list constructor
names =list(("Ayushi", "aditi", "alisha"))
print(names)

['Ayushi', 'aditi', 'alisha']

In [18]:
#to find type of list
names =["Ayushi", "aditi", "alisha"]
print(type(names))

<class 'list'>